Package: com.imokhles.revealmenu
Name: revealMenu
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 1.1
Architecture: iphoneos-arm
Description: 3DTouch for old device as it should be :)
Author: iMokhles <mokhleshussien@aol.com>
Section: Tweaks
